.mr-1 {
    margin-right: 1rem;
}

.textarea-wrapper {
    margin-bottom: 1.5rem;
}

.convert-button {
    margin: 0 0.5rem 0.75rem 0;
    text-transform: none;
}

.banner {
    align-items: center;
    /* background-color: #ffdd57; */
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}